header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    box-sizing: border-box;
    z-index: 10;
    gap: 10px;
    background-color: transparent;
    border-bottom: none;
}

body
{position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    box-sizing: border-box;
    z-index: 10;
    gap: 10px;
    background-color: transparent;
    border-bottom: none;
}

/*Ito ung box nung from the land of the gods to divinity*/
.hero
{
    padding: 6vh 8vw;
}




h1
{
    font-size: clamp(28px, 6vw, 70px);
}

h2
{
    font-size: clamp(24px, 3vw, 40px);
}

p.kicker
{
    font-size: clamp(20px, 3vw, 50px);
}


footer
{
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    border-top: 1px solid white;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.4);
}

@view-transition {
  navigation: auto;
}   



section.Info {
    background-image :linear-gradient(rgba(10, 8, 30, 0.65), rgba(10, 8, 30, 0.4)),  url('../images/inazuma1.jpg');
}

